.Member {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Intro {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border-radius: 15px;
  background-color: #fff9ed;
  width: 750px;
  height: 350px;
  text-align: left;
}
.boxin {
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  width: 750px;
  height: 80px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  gap: 11%;
  justify-content: center;
  
}
.channelIcon0 {
  width: 100%;
  height: auto;
}

.box2 {
  margin-top: 24px;
  border-radius: 15px;
  background-color: #f9f9f9;
  width: 750px;
  height: 300px;
  text-align: left;
  position: relative;
  z-index: 1;
}
.introduction_calendar {
  height: 250px;
  width: 250px;
  position: absolute;
  left: 66%;
  top: 50%;
  transform: translateY(-40%);
  z-index: -1;
}

.box3 {
  margin-top: 24px;
  border-radius: 15px;
  background-color: #c3f6f6;
  width: 750px;
  height: 300px;
  text-align: left;
}
.introduction_check {
  height: 250px;
  width: 250px;
  height: auto;
  display: block;
  position: relative;
  left: 66%;
  top: -118px;
}
.box4 {
  margin-top: 18px;
  padding: 50px;
  border-radius: 15px;
  background-color: #f5f5f5;
  width: 750px;
  height: 450px;
  text-align: left;
  align-items: center;
}
.gradebox {
  width: 100px;
  margin-left: 250px;
  margin-top: 30px;
  display: flex;
  gap: 30px;
 justify-content: center;
}
.Banner {
  height: 116px;
  width: 100vw;
  background-position: center;
  background-color: #f9f9f9;
  margin-top: 100px;
  display: center;
}

.BannerIn {
 width: 900px;
 height: 116px;
display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  overflow: auto;
  margin: 0 auto;
}
.BannerText1 {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  color: #424242;
}
.BannerText2 {
  font-weight: 500;
  font-size: 20px;
  color: #2ec8c8;
  text-align: left;
}
.BannerText{
  width: 300px;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.banner_influencer {
  width: 220px;
  margin: 0;
}

.Review {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 650px;
}
.ReviewIn {
  padding: 0px;
  transform-origin: top center;

}
.ReviewBox {
  width: 750px;
  height: 550px;
  margin-top: 50px;
  border-radius: 32px;
  display: grid;

grid-template-columns: 200px 200px 280px;
grid-template-rows: 200px 190px;

  grid-auto-rows: minmax(0px, auto);
  grid-gap: 15px;
}
.ReviewBox1 {
width: 100%;
  border-radius: 20px;
  grid-column: 1/3;
}
.ReviewBox2 {


  border-radius: 20px;
  grid-column: 3/4;
  grid-row: -3/-2;
  background-color: #4d4d4d;
}
.ReviewBox3 {
 

  border-radius: 20px;
  grid-column: 3/4;
  grid-row: -2/-2;
  background-color: #4d4d4d;
}
.quote1 {
  display: block;
  position: relative;
  top: 20px;
  left: 40px;
  width: 25px;
  height: auto;
}
.quote2 {
  display: block;
  position: relative;
  top: 50px;
  left: 20px;
  width: 25px;
  height: auto;
}
.quote3 {
  display: block;
  position: relative;
  top: 12px;
  left: 20px;
  width: 25px;
  height: auto;
}
.Question {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 1300px;
  align-items: center;
  background-position: center;
}
.QuestionIn {
  display: flex;
  flex-direction: column;
width:750px;
  gap: 30px; 
}

.QnA1 {
  width: 750px;
  height: 160px;
  background-color: #f5f5f5;
  border-radius: 15px;
  position: center;
  text-align: start;
}
.Question1 {
  padding: 15px;
  font-weight: 500;
  font-size: 18px;
}
.Answer1 {
  padding: 20px 15px 15px 15px;
  font-weight: 400;
  font-size: 15px;
  color: #424242;
}
.QnA2 {
  width: 750px;
  height: 140px;
  background-color: #f5f5f5;
  border-radius: 15px;
  position: center;
  text-align: start;
}
.Question2 {
  padding: 15px;
  font-weight: 500;
  font-size: 18px;
}
.Answer2 {
  padding: 20px 15px 15px 15px;
  font-weight: 400;
  font-size: 15px;
  color: #424242;
}
.QnA3 {
  width:750px;
  height: 140px;
  background-color: #f5f5f5;
  border-radius: 15px;
  position: center;
  text-align: start;
}
.Question3 {
  padding: 15px;
  font-weight: 500;
  font-size: 18px;
}
.Answer3 {
  padding: 20px 15px 15px 15px;
  font-weight: 400;
  font-size: 15px;
  color: #424242;
}
.QnA4 {
  width: 750px;
  height: 140px;
  background-color: #f5f5f5;
  border-radius: 15px;
  position: center;
  text-align: start;
}
.Question4 {
  padding: 15px;
  font-weight: 500;
  font-size: 18px;
}
.Answer4 {
  padding: 20px 15px 15px 15px;
  font-weight: 400;
  font-size: 15px;
  color: #424242;
}
.QnA5 {
  width: 750px;
  height: 160px;
  background-color: #f5f5f5;
  border-radius: 15px;
  position: center;
  text-align: start;
}
.Question5 {
  padding: 15px;
  font-weight: 500;
  font-size: 18px;
}
.Answer5 {
  padding: 20px 15px 15px 15px;
  font-weight: 400;
  font-size: 15px;
  color: #424242;
}
.QnA6 {
  width: 750px;
  height: 140px;
  background-color: #f5f5f5;
  border-radius: 15px;
  position: center;
  text-align: start;
}
.Question6 {
  padding: 15px;
  font-weight: 500;
  font-size: 18px;
}
.Answer6 {
  padding: 20px 15px 15px 15px;
  font-weight: 400;
  font-size: 15px;
  color: #424242;
}
.Download {
  background-color: #c3f6f6;
  height: 325px;
}
.BackRepeat {
  width: 100vw;
  height: 100%;
  background-image: url("../../../public/images/background_bubble.png");
  background-repeat: repeat-x;
  background-size: 700px 325px;
}
.DownloadIn {
  overflow: auto;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 600px;
  margin: 0 auto;
}
.DownloadInFrame {
  width: 300px;
  margin: auto 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.Button1 {
  font-weight: 400;
  font-size: 14px;
  padding: 8px 14px; /* 상 우 하 좌 2개면 싱히 좌우 */
  gap: 10px;
  background-color: #2ec8c8;
  color: #fff;
  border: none;
  border-radius: 56px;
}
.Button1:hover {
  background-color: #2ec8c8cb;
  transition: 0.7s;
  box-shadow: 0px 5px 0px 0px rgb(182, 182, 182);
}
.DivButton1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Icon {
  position: flex;
  width: auto;
}
.PhoneImgWrapper {
  display: flex;
  align-items: flex-end;
}
